*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*{
	--white: #fff;
	--light: #F3EED9;
	--medium: #824936;
	--dark: #222C2A;

	--type-sans-serif: 'Roboto', sans-serif;
	--type-serif: 'Playfair Display', serif;
}


body{
	width: 100vw;
	font-family: var(--type-sans-serif);
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}

p, h1, h2, h3, h4 {
	overflow-wrap: break-word;
	hyphens: auto;
	line-height: 1.4;
}

h1, h2, h3 {
	font-family: var(--type-serif);
}

img{
	max-width: 100%;
	border-radius: 8px;
	border: 1px solid var(--light);
}

.background-light{
	background-color: var(--light);
}

.background-light  h1, .background-light h2 {
	color: var(--medium);
}

.background-light  p {
	color: var(--dark);
}

.background-medium {
	background-color: var(--medium);
}

.background-dark {
	background-color: var(--dark);
}

.background-medium h1, .background-medium h2, .background-dark h1, .background-dark h2 {
	color: var(--light);
}

.background-medium p, .background-dark p {
	color: var(--white);
}

.background-white {
	background-color: var(--white);
}

header{
	padding-inline: min(.1rem + 22vw, 5rem + 30vw);
	height: min(16rem + 10vw, 60rem);
	background-color: var(--light);
	text-align: center;

	display: grid;
	place-content: center;
}

header p {
	font-size: min(.7rem + 1vw, 1.1rem);
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: max(.1rem + .5vw, .1rem);
}

header h1 {
	font-size: max(1.8rem, .4rem + 4vw);
}

.container{
	padding: min(1rem + 8vw, 6rem) min(1rem + 10vw, 8rem);
}

.container > .wrapper h2 {
	font-size: max(1.4rem, .5rem + 2vw);
	margin-bottom: min(.5rem + 3vw, 3rem);
}

.container .center {
	text-align: center;
}

.container > .wrapper p {
	font-size: max(1.1rem, .2rem + 1vw);
	margin-bottom: min(.8rem + .6vw, 1rem);
}

@media screen and (min-width: 768px){
	.container .split {
		margin: 0 auto;
		columns: min(10rem + 10vw, 40rem);
		column-gap: min(.5rem + 3vw, 4rem);
	}
}
