*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*{
	--color-white: #fff;
	--color-light: #F3EED9;
	--color-medium: #824936;
	--color-dark: #222C2A;

	--ff-paragraph: 'Roboto', sans-serif;
	--ff-title: 'Playfair Display', serif;
}
